# Git
.git
.gitignore

# Docker
Dockerfile
docker-compose.yml
.docker
.dockerignore

# Laravel
/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.example
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

# IDE
.idea
.vscode
*.sublime-workspace
*.sublime-project

# OS
.DS_Store
Thumbs.db
